{{!< default}}

<h1 style="text-align: center;" id="posts-headline">Writings.</h1>
<ol id="posts-list">
  {{#foreach posts}}
  <li>
    <time datetime="{{date format="YYYY-MM-DDTHH:MM"}}" data-timezone="{{date format="ZZ"}}">{{date format="YYYY-MM-DDTHH:MM"}}</time>
    <span class="post tags">{{tags separator=" "}}</span>
  </li>
  {{/foreach}}
</ol>

{{pagination}}
